<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<?pde version="3.8"?>
<target name="tp">
  <locations>
    <location includeDependencyDepth="0" includeDependencyScopes="compile,runtime" label="JCef Maven" missingManifest="generate" type="Maven">
      <dependencies>
        <dependency>
          <groupId>me.friwi</groupId>
          <artifactId>jcefmaven</artifactId>
          <version>141.0.10</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <instructions><![CDATA[
Bundle-Name:           Bundle derived from maven artifact ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               ${version_cleanup;${mvnVersion}}
Bundle-SymbolicName:   ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        *;resolution:=optional
Export-Package:        *;version="${version}";-noimport:=true
]]></instructions>
    </location>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile,runtime" label="JCef API" missingManifest="generate" type="Maven">
      <dependencies>
        <dependency>
          <groupId>me.friwi</groupId>
          <artifactId>jcef-api</artifactId>
          <version>jcef-2caef5a+cef-141.0.10+g1d65b0d+chromium-141.0.7390.123</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <instructions><![CDATA[
Bundle-Name:           Bundle derived from maven artifact ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               141.0.10
Bundle-SymbolicName:   ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        *;resolution:=optional
Export-Package:        *;version="${version}";-noimport:=true
]]></instructions>
    </location>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile,runtime" label="JCef Natives For Windows AMD64" missingManifest="generate" type="Maven">
      <dependencies>
        <dependency>
          <groupId>me.friwi</groupId>
          <artifactId>jcef-natives-windows-amd64</artifactId>
          <version>jcef-2caef5a+cef-141.0.10+g1d65b0d+chromium-141.0.7390.123</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <instructions><![CDATA[
Bundle-Name:           Bundle derived from maven artifact ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               141.0.10
Bundle-SymbolicName:   ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        *;resolution:=optional
Export-Package:        *;version="${version}";-noimport:=true
]]></instructions>
    </location>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile,runtime" label="JCef Natives For Windows ARM64" missingManifest="generate" type="Maven">
      <dependencies>
        <dependency>
          <groupId>me.friwi</groupId>
          <artifactId>jcef-natives-windows-arm64</artifactId>
          <version>jcef-2caef5a+cef-141.0.10+g1d65b0d+chromium-141.0.7390.123</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <instructions><![CDATA[
Bundle-Name:           Bundle derived from maven artifact ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               141.0.10
Bundle-SymbolicName:   ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        *;resolution:=optional
Export-Package:        *;version="${version}";-noimport:=true
]]></instructions>
    </location>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile,runtime" label="JCef Natives For Linux AMD64" missingManifest="generate" type="Maven">
      <dependencies>
        <dependency>
          <groupId>me.friwi</groupId>
          <artifactId>jcef-natives-linux-amd64</artifactId>
          <version>jcef-2caef5a+cef-141.0.10+g1d65b0d+chromium-141.0.7390.123</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <instructions><![CDATA[
Bundle-Name:           Bundle derived from maven artifact ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               141.0.10
Bundle-SymbolicName:   ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        *;resolution:=optional
Export-Package:        *;version="${version}";-noimport:=true
]]></instructions>
    </location>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile,runtime" label="JCef Natives For Linux ARM64" missingManifest="generate" type="Maven">
      <dependencies>
        <dependency>
          <groupId>me.friwi</groupId>
          <artifactId>jcef-natives-linux-arm64</artifactId>
          <version>jcef-2caef5a+cef-141.0.10+g1d65b0d+chromium-141.0.7390.123</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <instructions><![CDATA[
Bundle-Name:           Bundle derived from maven artifact ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               141.0.10
Bundle-SymbolicName:   ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        *;resolution:=optional
Export-Package:        *;version="${version}";-noimport:=true
]]></instructions>
    </location>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile,runtime" label="JCef Natives For MacOSX AMD64" missingManifest="generate" type="Maven">
      <dependencies>
        <dependency>
          <groupId>me.friwi</groupId>
          <artifactId>jcef-natives-macosx-amd64</artifactId>
          <version>jcef-2caef5a+cef-141.0.10+g1d65b0d+chromium-141.0.7390.123</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <instructions><![CDATA[
Bundle-Name:           Bundle derived from maven artifact ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               141.0.10
Bundle-SymbolicName:   ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        *;resolution:=optional
Export-Package:        *;version="${version}";-noimport:=true
]]></instructions>
    </location>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile,runtime" label="JCef Natives For MacOSX ARM64" missingManifest="generate" type="Maven">
      <dependencies>
        <dependency>
          <groupId>me.friwi</groupId>
          <artifactId>jcef-natives-macosx-arm64</artifactId>
          <version>jcef-2caef5a+cef-141.0.10+g1d65b0d+chromium-141.0.7390.123</version>
          <type>jar</type>
        </dependency>
      </dependencies>
      <instructions><![CDATA[
Bundle-Name:           Bundle derived from maven artifact ${mvnGroupId}:${mvnArtifactId}:${mvnVersion}
version:               141.0.10
Bundle-SymbolicName:   ${mvnGroupId}.${mvnArtifactId}
Bundle-Version:        ${version}
Import-Package:        *;resolution:=optional
Export-Package:        *;version="${version}";-noimport:=true
]]></instructions>
    </location>
  </locations>
  <includeBundles>
    <plugin id="com.google.errorprone.annotations"/>
    <plugin id="com.google.errorprone.annotations.source"/>
    <plugin id="com.google.gson"/>
    <plugin id="com.google.gson.source"/>
    <plugin id="me.friwi.gluegen-rt"/>
    <plugin id="me.friwi.gluegen-rt.source"/>
    <plugin id="me.friwi.jcefmaven"/>
    <plugin id="me.friwi.jcefmaven.source"/>
    <plugin id="me.friwi.jogl-all"/>
    <plugin id="me.friwi.jogl-all.source"/>
    <plugin id="org.apache.commons.commons-codec"/>
    <plugin id="org.apache.commons.commons-codec.source"/>
    <plugin id="org.apache.commons.commons-compress"/>
    <plugin id="org.apache.commons.commons-compress.source"/>
    <plugin id="org.apache.commons.commons-io"/>
    <plugin id="org.apache.commons.commons-io.source"/>
    <plugin id="org.apache.commons.lang3"/>
    <plugin id="org.apache.commons.lang3.source"/>
  </includeBundles>
  <locations>
    <location includeDependencyDepth="infinite" includeDependencyScopes="compile,runtime" label="JCEF Transitive Dependencies" missingManifest="generate" type="Maven">
      <dependencies>
        <dependency>
          <groupId>com.google.code.gson</groupId>
          <artifactId>gson</artifactId>
          <version>2.11.0</version>
          <type>jar</type>
        </dependency>
        <dependency>
          <groupId>org.apache.commons</groupId>
          <artifactId>commons-compress</artifactId>
          <version>1.27.1</version>
          <type>jar</type>
        </dependency>
      </dependencies>
    </location>
  </locations>
</target>
